<link href="css/view2stylesheet.css" rel="stylesheet" />
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#/view2">Kurse</a></li>
  <li role="presentation"><a href="#/view3">Events</a></li>
  <li role="presentation"><a href="#/view4">Tanzpartner</a></li>
</ul>
<div class="row">
  <div class="col-md-3 filter">

  </div>
    <div class="col-md-9">

    <div ng-repeat="course in second.data.kurse | filter:searchKeys.DanceStyle" >
      <div>
        <div class="row courseDescriptions">
        <div class="col-md-2">
          {{course.time | date}}
        </div>
        <div class="col-md-2">
          {{course.style}}
        </div>
        <div class="col-md-2">
          {{course.level}}
        </div>
        <div class="col-md-2" ng-click="displayschool(course.studio,course.level)">
            {{course.studio}}
        </div>
        <div class="col-md-2">
          {{course.duration}}
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-primary" ng-click="booking()">Book</button>
        </div>
        </div>
        </div>


    </div>

  </div>

</div>
