
<div ng-repeat="school in second.data.school | filter: { id : second.searchedSchool} " >
                <div>{{school.studio}}</div>
                <div>{{school.address}}</div>
                <div>{{school.description}}</div>
                <div>{{school.rating}}</div>
                <img class="photo" ng-src="{{school.photo}}" alt="a" />
                <div>{{school.photo}}</div>
                <img class="logo" ng-src="{{school.logo}}" alt="a" />
                <div>{{school.logo}}</div>

                <div ng-repeat="course in second.data.kurse | filter: { studio : school.studio}">
                        <div class="row courseDescriptions">
                            <div class="col-md-2">
                                {{course.time | date}}
                            </div>
                            <div class="col-md-2">
                                {{course.style}}
                            </div>
                            <div class="col-md-2">
                                {{course.level}}
                            </div>
                            <!--<div class="col-md-2">-->
                                <!--{{course.studio}}-->
                            <!--</div>-->
                            <div class="col-md-2">
                                {{course.duration}}
                            </div>
                            <div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-click="booking()">Book</button>
                            </div>
                        </div>
                    </div>

        </div>
</div>





<div>
</div>

