<link href="css/view2stylesheet.css" rel="stylesheet" />

<div ng-repeat="school in second.data.school | filter: { id : second.searchedSchool} " >
                <div><h1>{{school.studio}}</h1></div>
    <img class="logo" ng-src="{{school.logo}}" alt="" width="100px" />
    <div><p>{{school.description}}</p></div>
                <div><p>{{school.address}}</p></div>
    <div><p>{{school.description}}</p></div>
                <div><p>{{school.rating}}</p></div>
                <img class="photo" ng-src="{{school.photo}}" alt="" width="500px" />
                <!--<div>{{school.photo}}</div>-->
                <!--<div>{{school.logo}}</div>-->

                <div ng-repeat="course in second.data.kurse | filter: { studio : school.studio}">
                        <div class="row courseDescriptions">
                            <div class="col-md-2">
                                {{course.time | date}}
                            </div>
                            <div class="col-md-2">
                                {{course.style}}
                            </div>
                            <div class="col-md-2">
                                {{course.level}}
                            </div>
                            <!--<div class="col-md-2">-->
                                <!--{{course.studio}}-->
                            <!--</div>-->
                            <div class="col-md-2">
                                {{course.duration}}
                            </div>
                            <div class="col-md-2">
                            <button type="button" class="btn btn-primary" ng-click="booking()">Book</button>
                            </div>
                        </div>
                    </div>

        </div>
</div>





<div>
</div>

